<header fxLayoutAlign="start center">
    <div fxFlex fxLayoutAlign="start end" fxLayoutGap="15">
        <mat-icon color="accent" class="logoIcon">accessibility_new</mat-icon>        <span class="logo">{{title}}</span>
    </div>
    <div fxLayoutGap="15" fxLayoutAlign="start center">
        <button mat-flat-button routerLink="">Home page</button>
        <button mat-flat-button routerLink="/trainings">Trainings</button>
        <span></span>
        <button mat-flat-button routerLink="/login">Log in</button>
    </div>
</header>