<header fxLayoutAlign="start center">
    <div fxFlex fxLayoutAlign="start end" fxLayoutGap="15">
        <mat-icon color="accent" class="logoIcon">accessibility_new</mat-icon>        <span class="logo">{{title}}</span>
    </div>
    <div fxLayoutGap="15" fxLayoutAlign="start center">
        <button mat-flat-button routerLink="">Homepage</button>
        <div class="button-wrapper">
            <div class="hit-tooltip">Hit!</div>
            <button mat-flat-button routerLink="/chats">Personal Assistant</button>
          </div>
        <button mat-flat-button routerLink="/trainings">Training Plans</button>
        <button mat-flat-button routerLink="/transformations">Transformations</button>
        <span></span>
        <button mat-flat-button (click)="logout()" routerLink="/login">
            <span *ngIf="!isLoggedIn">Sign in</span>
            <span *ngIf="isLoggedIn">Logout</span>
          </button>
    </div>
</header>