:host{
  display: flex;
  flex-direction: column;
}

.transformationCard {
  margin-bottom: 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.transformationTitle {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 18px;
}

.imageContainer {
  display: flex;
  flex-direction: row;
}

.imageWrapper {
  margin-right: 16px;
}

.fullWidthImage {
  width: 100%;
  object-fit: contain;
  max-height: 300px

}

mat-paginator {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
