<h1>Transformations <button mat-raised-button color="accent" routerLink="/transformations/add">Add your transformation <mat-icon>add</mat-icon></button></h1>
<mat-card *ngFor="let transformation of page?.content">
  <div fxLayout="row">
    <div fxLayout="column" fxFlex>
      <mat-card-title>Weight: {{transformation.weightBefore}}kg - {{transformation.weightAfter}}kg</mat-card-title>
      <!-- <div fxLayout="row">
        <div class="transformationImage">
            <span>Image Before: {{transformation.imageBefore}}</span>
        </div>
        <div class="transformationImage">
            <span>Image After: {{transformation.imageAfter}}</span>
        </div>
    </div> -->
      <mat-card-subtitle>Duration: {{transformation.duration}} days</mat-card-subtitle>
    </div>
  </div>
</mat-card>

<mat-paginator *ngIf="page && page.totalElements > 0"
    [length]="page.totalElements"
     [pageSize]="10"
     [pageSizeOptions]="[10, 25, 50, 100]"
     aria-label="Choose page"
     (page)="onPageEvent($event)">
</mat-paginator>