.upload-button {
    width: 150px; 
    background-color: #666666; 
    color: #ffffff; 
    margin-top: 10px;
  }
  
  .upload-button:hover {
    background-color: #888888; 
  }

  img.upload-image {
    margin-right: 10px; 
    margin-bottom: 10px; 
  }