<form fxLayout="column" [formGroup]="transformationForm" (submit)="submit()">
    <mat-form-field appearance="fill">
      <mat-label>Weight Before</mat-label>
      <input matInput type="number" placeholder="Enter weight before" formControlName="weightBefore">
      <mat-error *ngIf="transformationForm.get('weightBefore')?.hasError('required')">Weight Before is required</mat-error>
      <mat-error *ngIf="transformationForm.get('weightBefore')?.hasError('min')">Weight Before must be greater than or equal to 1</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Weight After</mat-label>
      <input matInput type="number" placeholder="Enter weight after" formControlName="weightAfter">
      <mat-error *ngIf="transformationForm.get('weightAfter')?.hasError('required')">Weight After is required</mat-error>
      <mat-error *ngIf="transformationForm.get('weightAfter')?.hasError('min')">Weight After must be greater than or equal to 1</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Duration</mat-label>
      <input matInput type="number" placeholder="Enter duration" formControlName="duration">
      <mat-error *ngIf="transformationForm.get('duration')?.hasError('required')">Duration is required</mat-error>
      <mat-error *ngIf="transformationForm.get('duration')?.hasError('min')">Duration must be greater than or equal to 1</mat-error>
    </mat-form-field>
  
    <div fxLayoutAlign="end">
      <button mat-flat-button color="primary">Save</button>
    </div>
  </form>
  <form [formGroup]="imageBeforeForm" (submit)="uploadImageBefore()">
    <input type="file" [accept]="requiredFileTypes" (change)="onImageBeforeChange($event)">
    <button mat-flat-button color="basic" class="upload-button">Upload Before Image</button>
  </form>
  
  <form [formGroup]="imageAfterForm" (submit)="uploadImageAfter()">
    <input type="file" [accept]="requiredFileTypes" (change)="onImageAfterChange($event)">
    <button mat-flat-button class="upload-button">Upload After Image</button>
  </form>
  
  <img *ngIf="imageBefore" src="{{'/api/data/images/' + imageBefore}}" width="200" class="upload-image">
  <img *ngIf="imageAfter" src="{{'/api/data/images/' + imageAfter}}" width="200" class="upload-image">