<form fxLayout="column" [formGroup]="trainingForm" (submit)="submit()">
    <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter a training name" formControlName="name">
          <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="errorMessages">
                <div *ngIf="name?.errors?.['required']">
                    Name is required
                </div>
                <div *ngIf="name?.errors?.['minlength']">
                    Name must have at least 4 characters
                </div>
            </div>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Friendly url</mat-label>
        <input matInput placeholder="Enter url" formControlName="slug">
        <div *ngIf="slug?.invalid && (slug?.dirty || slug?.touched)" class="erroMessages">
            <div *ngIf="slug?.errors?.['required']">
              Name is required
            </div>
            <div *ngIf="slug?.errors?.['minlength']">
              Name must have at least 4 characters
            </div>
        </div>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId">
            <mat-option *ngFor="let el of categories" [value]="el.id">
            {{el.name}}
            </mat-option>
        </mat-select>
        <div *ngIf="categoryId?.invalid && (categoryId?.dirty || categoryId?.touched)" class="erroMessages">
            <div *ngIf="categoryId?.errors?.['required']">
            Category is required
            </div>
        </div>
    </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>Content</mat-label>
           <textarea matInput rows="20" placeholder="Enter a training content" formControlName="content"></textarea>
           <div *ngIf="content?.invalid && (content?.dirty || content?.touched)" class="errorMessages">
                <div *ngIf="name?.errors?.['required']">
                Content is required
                </div>
                <div *ngIf="name?.errors?.['minlength']">
                Content must have at least 4 characters
                </div>
            </div>
      </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>Level</mat-label>
          <input matInput placeholder="Enter a training level" formControlName="level">
          <div *ngIf="level?.invalid && (level?.dirty || level?.touched)" class="errorMessages">
                <div *ngIf="name?.errors?.['required']">
                Level is required
                </div>
                <div *ngIf="name?.errors?.['minlength']">
                Level must have at least 4 characters
                </div>
            </div>
      </mat-form-field>

      <div fxLayoutAlign="end">
          <button mat-flat-button color="primary">Save</button>
      </div>