@import "../../../variables.scss";
.content{
    margin-top:20px;
    margin-bottom: 25px;
}
.level{
    font-size:18px;
    font-weight: 400;
    margin-top: 10px;
    margin-right: 10px;
    color: $warn;
}
.review{
    background-color: white;
    margin: 20px 0;
    padding: 7px;
}
